.form {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 350px;
    height: 650px;
    /* background-color: aqua; */
    /* padding: 20%; */
}
form {
    width: 100%;
    /* background-color: blueviolet; */
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.set1{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
    
}
.set2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    flex-direction: column;
    color: grey;
}
.input {
    width: 95%;
    height: 4.5%;
    border : 1px solid black;
    border-radius: 9px;
    text-align: center;
}
.errormessage, #message{
    text-align: center;
    color : rgb(237,67,55);
    font-size:0.8em;
}
#namemessage, #passwordmessage, #cnfpasswordmessage , #gendermessage,#dobmessage, #emailmessage,#phonenomessage, #qualificationsmessage,#collegemessage, #yearofpassingmessage,#citymessage, #notfound {
    /* visibility: none; */
    visibility: hidden;
}

.submit {
    width: 30%;
    height: 35%;
    background-color: #4bb543;
    border: 0.75px solid black;
    border-radius: 8px;
    cursor: pointer;
    color:black;
}
.submit:hover {
    color : #0eab03;
    background-color: snow;
    box-shadow: 3px 3px rgb(79, 82, 82);
    font-size : 1em;
    font-weight: 500;

}

.labels, .inputs {
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.labels{
    flex:1;
    width: 20%;
    align-items:flex-start;
    font-size: 14px;
}
.inputs{
    flex:2;
}


.forgotpassword:hover , .register:hover {
    color: blue;
}

a, .forgotpassword {
    text-decoration: none;
    cursor: pointer;
    /* color: inherit; */
}