body {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    background-color:  #ecf0f1;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

header{
    background-color: #9da19e;
    height: 100px;
    align-self: center;
    text-align: center;
}

.logo {
    margin-top: -10px;
}
sup {
    color: red;
    font-size: 1.2em;
}
main {
    display: flex;
    flex-direction: column;
}
.welcome{
    margin-left: 7%;
}
.greeting {
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.greetingBox {
    border: 0.75px solid grey;
    width: 200px;
    height: 70px;
    margin-right: 2%;
    border-radius: 9px;
}
p {
    margin: 8px;
}
a {
    text-decoration: none;
    display: inline;
    cursor: pointer;
    background-color: blue;
    border-radius: 4px;
    padding: 3px;
    color: #ecf0f1;
}
.contactLink{
    background-color: inherit;
    border-radius: 0;
    padding: 0;

}
a:hover {
    color: blue;
    background-color: rgb(230, 230, 230);
    font-weight: 600;
    box-shadow:3px 3px #9da19e;
}
.contactLink:hover{
    color:snow;
    font-weight:500;
    box-shadow: 0;
    font-size: 1.1em;
}
.logOut {
    text-align: right;
}
.formBox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
ul{
    display: flex;
    flex-direction: column;
    list-style:None;
    padding: 0 0 0 25%;
}

.mainBlock {
    border-radius: 8px;
    width: 95%;
    height: 95%;
}
.action{
    background-color: #d7ddde;
    height: 900px;
    /* Todo: make height auto */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: 4.8%;
    border-radius: 24px;

}
.formBox {
    border: 1px solid black;
    height: 93%;
    width: 100%;
    border-radius: 8px;
    background-color: rgb(230, 230, 230);
    margin: 0 5% 0 5%;
}
footer {
    background-color: black;
    color:snow;
    width: 100%;
    height: 103px;
    display: flex;
    justify-content: space-evenly;
}
.footerList {
    text-align: center;
    
}
.footerHeading {
    font-size: 500;
    text-decoration: underline;
    font-size: 1.25em;
}
form{
    height: 10%;
    width: inherit;
}
hr {
    width: 95%;
    margin: 0%;
}
.viewArea {
    min-height: 70%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: nowrap; */
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: justify;
}

.formQuery {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: center;
    /* height: 100px; */
    width: 100%;

    margin-top: 10px;
}
.formQuery input, select {
    text-align: center;
    /* margin: 0 10% 0 10%; */
    border: 1px solid black;
    border-radius: 3px;
    height: 20%;
    /* background-color: bisque; */

    /* width: 10%; */
}

.forms {
    background-color: rgba(215,215,240,0.6);
    min-height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 9px;

}
h2 {
    margin: 0px;
}
.cards {
    background-color: rgba(215,215,240,0.6);
    width: 80%;
    min-height: 7%;
    border-bottom: 2px solid black;

}
table {
    margin-left: 10%;
}
td {
    margin-left: 10px;
    margin-right: 10px;
}
.viewdata {
    margin-left : 100%;
    background-color: orangered;
    border : 1px dotted black;
    width:150%;
    min-height: 100%;
    border-radius: 8px;
    margin-bottom: 20%;
}
.viewdata:hover {
    color:red;
    background-color: antiquewhite;
    box-shadow: 3px 3px grey;
}