.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    height: 350px;
    /* background-color: aqua; */
    /* padding: 20%; */
}
form {
    width: 100%;
    /* background-color: blueviolet; */
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.set1{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60%;
    
}
.set2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30%;
    /* flex-direction: column; */
    color: grey;
}
.input {
    width: 95%;
    height: 15%;
    border : 1px solid black;
    border-radius: 9px;
    text-align: center;
}
.errormessage, #message{
    text-align: center;
    color : rgb(237,67,55);
    font-size:0.8em;
}
#newpasswordmessage,#notfound, #oldpasswordmessage, #confirmpasswordmessage {
    /* visibility: none; */
    visibility: hidden;
}

.submit, .cancel {
    width: 30%;
    height: 35%;
    background-color: #4bb543;
    border: 0.75px solid black;
    border-radius: 8px;
    cursor: pointer;
    color:black;
}
.cancel {
    background-color: rgb(254, 31, 31);
}
.submit:hover, .cancel:hover {
    color : #0eab03;
    background-color: snow;
    box-shadow: 3px 3px rgb(79, 82, 82);
    font-size : 1em;
    font-weight: 500;
}

.cancel:hover{
    color: rgb(254, 31, 31);
}

.labels, .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.labels{
    flex:2;
    width: 40%;
}
.inputs{
    flex:2;
}


.forgotpassword:hover , .register:hover {
    color: blue;
}

a, .forgotpassword {
    text-decoration: none;
    cursor: pointer;
    /* color: inherit; */
}