<div class="form">
<h2 style="text-align: center;">Reset Password</h2>
    
<!-- (ngSubmit)="" -->

    <form  #loginform="ngForm">
      <div class="set1">
        <div class="labels">
        <label for="username">Username : </label>
        <label for="password">Password : </label>
        <label for="role">Role : </label>
    
      </div>
    
      <div class="inputs">
        <input
          type="text"
          class="input"
          name="username"
          id="username"
          placeholder="ranjeet112pandey@gmail.com"
          required
        />
          <!-- [(ngModel)] = "login.username" -->
        <input
          type="password"
          class="input"
          name="password"
          id="password"
          placeholder="*******"
          required
        />
        <!-- [(ngModel)] = "login.password" -->
        <!-- [(ngModel)] = "login.role" -->
        <!-- [(ngModel)] = "login.role" -->
        <span>
          <input type="radio" name="role" value="user" checked > User&nbsp;&nbsp;&nbsp;
          <input type="radio" name="role" value="admin" > Admin
        </span>
        
      </div>
      <div style="flex:.1; " class="labels" id="message">
        <p id="usrmessage" name="usrmessage">Please Enter</p>
        <p id="pswdmessage" name="pswdmessage">Please Enter</p>
        <p> </p>
      </div>
    </div>
      <div class="set2">
          <input type="submit" value="Login" class="submit">
          <!-- Login</button> -->
          <!-- (click)="ForgotPassword(login.username)"
          [routerLink]="['/auth/forgotpassword']" -->
          <!-- (click)="" -->
          <p><a 
            class="forgotpassword" >Forgot password? </a> | <a class="register" [routerLink]="['/auth/register']">New Here?</a></p>
      </div>
      <div class="errormessage">
        <p id="notfound" name="notfound">Either username or password is incorrect</p>
      </div>
    </form>
    </div>