<div class="form">
<h2 style="text-align: center;">Reset Password</h2>
    
<!--  -->

    <form (ngSubmit)="forgotpassword(oldpassword, newpassword, confirmpassword)" #resetform="ngForm">
      <div class="set1">
        <div class="labels">
        <label for="oldpassword">Old password : </label>
        <label for="newpassword">New Password : </label>
        <label for="confirmpassword">Confirm Password : </label>
    
      </div>
    
      <div class="inputs">
        <input
          type="password"
          class="input"
          name="oldpassword"
          id="oldpassword"
          placeholder="********"
          [(ngModel)] = "oldpassword"
          required
        />
        <input
          type="password"
          class="input"
          name="newpassword"
          id="newpassword"
          placeholder="********"
          [(ngModel)] = "newpassword"
          required
        />
        <input
          type="text"
          class="input"
          name="confirmpassword"
          id="confirmpassword"
          placeholder="********"
          [(ngModel)] = "confirmpassword"
          required
        />
        
      </div>
      <div style="flex:.1; " class="labels" id="message">
        <p id="oldpasswordmessage" name="oldpasswordmessage">Please Enter</p>
        <p id="newpasswordmessage" name="newpasswordmessage">Please Enter</p>
        <p id="confirmpasswordmessage" name="confirmpasswordmessage">Please check</p>
        <p> </p>
      </div>
    </div>
      <div class="set2">
          <input type="submit" value="Reset" class="submit">
          <button class="cancel" type="button" [routerLink]="['/user/dashboard']">cancel</button>
      </div>
      <div class="errormessage">
        <p id="notfound" name="notfound">Either username or password is incorrect</p>
      </div>
    </form>
    </div>