<!-- <div class="list-of-test" >
    <div>

    <div *ngFor="let test of Tests; index as i">
        <p>{{i}} {{test.test}}</p>
    </div>

</div> -->

<!-- <p>Hi {{name}} dashboard works!</p>
<a style="cursor:pointer" (click)="Logout()">logout</a> -->

<!-- ===================================== 
    * List of Test
============================================== -->
<div class="greeting" *ngIf="testlist">
  <h3 class="welcome">All the tests that are available to you</h3>
  <div class="greetingBox">
    <p class="greetingMessage">Hello {{ name }},</p>
    <p class="logOut"><a (click)="Logout()" class="logOutLink">Log Out</a></p>
  </div>
</div>
<div class="action" *ngIf="testlist">
  <div class="actionButton">
    Choose a test to attempt it:
    <div
        class="list"
      *ngFor="let test of Tests; index as i"
      
      (click)="displayTest(test)"
    >
      <p>{{ i + 1 }}.) {{ test.subjectName }}</p>
    </div>
  </div>
</div>

<!-- =============================================== 
    * Test details
    ============================================================== -->
<p *ngIf="!testlist">Do not refresh the page<sup>*</sup></p>
<div class="action" *ngIf="individualtest">
  <div class="actionButton">
    <div >
        <h3>Test Details</h3>
      <p>
        Test Name : <strong>{{ individualTestDetails.subjectName }}</strong><br />
        Duration (each level): <strong>{{ individualTestDetails.duration }} mins</strong><br />
        <!-- Level one marks :<strong>{{ individualTestDetails.l_one_req }}</strong><br /> -->
      </p>
      <!-- <p> {{i+1}}.) {{test.test}} </p> -->
      <button
        class="buttons"
        type="button"
        (click)="startTest(individualTestDetails)"
      >
        start test
      </button>
    </div>
  </div>
</div>

<!-- =============================================== 
    * Test instructions
    ============================================================== -->
<div class="action1 action" *ngIf="starttest">
  <div class="actionButton1 actionButton">
    <p>Welcome to <em>{{testName}}</em> Test, level <strong>{{atLevel}}</strong> </p>
    <h2>Instructions</h2>
    <div class="dos" style="background-color: #aaaaaa">
      <span>
        <img
          src="https://www.clipartmax.com/png/full/34-342615_tick-symbol-tick-symbol.png"
          width="30px"
          height="30px"
        />
        <h2 style="display:inline-block;"> Do's</h2>
      </span>
      <ul>
        <li>Laptop/Desktop (Fully charged)</li>
        <li>Uninterrupted Internet Connectivity</li>
        <li>Rough sheet paper with pen</li>
      </ul>
    </div>
    <div class="dos" style="background-color: #eeaaaa">
      <span>
        <img
          src="https://cdn3.iconfinder.com/data/icons/simple-web-navigation/165/cross-512.png"
          width="30px"
          height="30px"
        />
        <h2 style="display:inline-block;">Dont's</h2>
      </span>
      <ul>
        <li>Mobile Phone/Smart watch or any other communication device</li>
        <li>Headphones/Ear phones/Microphones</li>
        <li>Notebook/Notes in any form</li>
      </ul>
    </div>
    <!-- <div> -->
      <button class="buttons1" type="submit" (click)="showQuestion()" > >Start>></button>
    <!-- </div> -->
  </div>
</div>

<div *ngIf="questionspage" class="questions-window">
    <h2 id="timer" name="timer" >{{hh}}:{{mm}}:{{ss}}</h2>
<!-- <p *ngFor="let question of questions">{{question.question_id}}</p> -->
<div class="questions-navigator">

    <div class="indi-nav" *ngFor="let q of questions;index as i" (click)="display(q.id)">
        {{i+1}}
    </div>
    <!-- <div class="indi-nav" *ngFor="let question of questions">
        {{question.question_id}}
    </div><div class="indi-nav" *ngFor="let question of questions">
        {{question.question_id}}
    </div>     -->
</div>
<div class="question">
<p>{{qindex}}.) {{question.question}}</p>
<ul>
    <li><input type="radio" name="answer" value="{{question.option1}}" [(ngModel)]="selectedAns" > {{question.option1}}</li>
    <li><input type="radio" name="answer" value="{{question.option2}}" [(ngModel)]="selectedAns" > {{question.option2}}</li>
    <li><input type="radio" name="answer" value="{{question.option3}}" [(ngModel)]="selectedAns" > {{question.option3}}</li>
    <li><input type="radio" name="answer" value="{{question.option4}}" [(ngModel)]="selectedAns" > {{question.option4}}</li>
    <button class="but buttons" (click)="saveAnswers(question.id,selectedAns)">Save</button>
</ul>
</div>

</div>
<div *ngIf="questionspage">

    <button class="endtest" (click)="submitTest(answers)" >submit test</button>

</div>
<div class="action1 action" *ngIf="Resultpage">


    <span *ngIf="isCleared"><p>Congratulations you have scored {{marks}} and cleared this level, you may now proceed to next level</p>
    
    <button (click)="startTest(testId)"> Next </button>
        </span>
    <span *ngIf="!isCleared"><p>Sorry but you scored {{marks}} and did not clear this level. Your Test ends Here! <br>Thank you.</p>
    <button [routerLink]="['/user/dashboard']">Go back to dashboard</button>
    </span>
</div>


