 <div class="form">
    
<h2 style="text-align: center;">Login here</h2>

<form (ngSubmit)="Authenticate(login)" #loginform="ngForm">
  <div class="set1">
    <div class="labels">
    <label for="username">Username : </label>
    <label for="password">Password : </label>
    <label for="role">Role : </label>

  </div>

  <div class="inputs">
    <input
      type="text"
      class="input"
      name="username"
      id="username"
      placeholder="ranjeet112pandey@gmail.com"
      [(ngModel)] = "login.username"
      required
    />
    
    <input
      type="password"
      class="input"
      name="password"
      id="password"
      placeholder="*******"
      [(ngModel)] = "login.password"
      required
    />
    <span>
      <input type="radio" name="role" value="user" checked [(ngModel)] = "login.role"> User&nbsp;&nbsp;&nbsp;
      <input type="radio" name="role" value="admin" [(ngModel)] = "login.role"> Admin
    </span>
    
  </div>
  <div style="flex:.1; " class="labels" id="message">
    <p id="usrmessage" name="usrmessage">Please Enter</p>
    <p id="pswdmessage" name="pswdmessage">Please Enter</p>
    <p> </p>
  </div>
</div>
  <div class="set2">
      <input type="submit" value="Login" class="submit">
      <!-- Login</button> -->
      <!-- (click)="ForgotPassword(login.username)"
      [routerLink]="['/auth/forgotpassword']" -->
      <p><a 
        class="forgotpassword" (click)="ForgotPassword(login.username)">Forgot password? </a> | <a class="register" [routerLink]="['/auth/register']">New Here?</a></p>
  </div>
  <div class="errormessage">
    <p id="notfound" name="notfound">Either username or password is incorrect</p>
  </div>
</form>
</div>